<div class="row">
    <div class="col-lg-12">
        <div class="favorites-div section h2">
            My Favorites Videos
        </div>
        <ul class="video-results">
            <li ng-repeat="video in videos">
                {{video.title}}
                <div>
                    <a href="javascript:void(0);" class="button postfix" ng-click="removeFromFavorite(video.videoId)">Remove From Favorites</a>
                </div>
                <div>
                    <!--<img ng-src="{{video.snippet.thumbnails.high.url}}">-->
                    <div youtube-player id="{{$index}}" video-id="{{video.videoId}}"></div>
                </div>
            </li>
        </ul>

        <div class="pagination-div" ng-show="videos.length">
            <p>Total number of favorites: {{favorites.totalCount}} [Page {{currentPage + 1}}]</p>

            <button class="btn btn-primary" ng-disabled="!currentPage" ng-click="getPage(currentPage - 1)">
                Prev Page
            </button>
            <button class="btn btn-primary" ng-disabled="!videos.length" ng-click="getPage(currentPage + 1)">
                Next Page
            </button>
        </div>
    </div>
</div>
