<div class="row">
    <div class="large-12 columns">
        <h1>YouTube Remote Player</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h3>FuseDay Dec 2013 .NET Group</h3>
            <p>Search for videos and play them on a remote clinet</p>
            <p>Check Out The Following also:</p>
            <div class="row">
                <div class="large-4 medium-4 columns">
                    <p><a href="https://github.com/tikalk/.NetDec13FuseDay_MediaCenter">Repository on Github</a><br />Latest code, issue reports, feature requests and more.</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://tikalk.com/net">.NET Channel @@ Tikal</a><br />Ping us on facebook (FullStack Developers).</p>
                </div>
                <div class="large-4 medium-4 columns">
                    <p><a href="http://foundation.zurb.com/docs">Foundation Documentation</a><br />Everything you need to know about using the framework.</p>
                </div>
            </div>
            <div class="alert-box info">
                <span>ASP.Net MVC 5.0, Owin, SignalR 2.0, Zurb Foundation 5.0.2, Angular 1.2.5, <a href=" http://tikal-fuze.cloudapp.net">Azure cloud VM</a>, nuget 2.7</span>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <a target="_blank" href="/#/player">Open Player</a>
</div>

<div class="row">
    <div ng-view class="large-12 columns"></div>
</div>

